@using To_Do.Models;
@using To_Do.ViewModels;


@model AddToDoTaskViewModel;

<p style="display:none;">
    @Model.Id = @ViewBag.taskToEdit.Id;
</p>
<form method="post" asp-controller="ToDoTask" asp-action="EditTask" asp-route-folderId_e="@ViewBag.folderId_e">
    <div class="form-group">
        <label asp-for="Title">Title: <input type="text" asp-for="Title" value="@ViewBag.taskToEdit.Title"/></label>
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Body">Body: <textarea asp-for="Body" placeholder="@ViewBag.taskToEdit.Body" rows="10" cols="50" maxlength="1000"></textarea></label>
        <span asp-validation-for="Body" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="IsImportant">Mark as important?: <input type="checkbox" asp-for="IsImportant" checked="@ViewBag.taskToEdit.IsImportant"/></label>
    </div>
    <div class="form-group">
        <label asp-for="IsCompleted">Mark as completed?: <input type="checkbox" asp-for="IsCompleted" checked="@ViewBag.taskToEdit.IsCompleted" /></label>
    </div>
    <div class="form-group">
        <label asp-for="FolderId">Change folder</label>
        <select asp-for="FolderId" asp-items="Model.AvailFolders">
            <option disabled selected>Please select...</option>
        </select>
    </div>
    <input type="submit" value="Save" />
</form>

