@using To_Do.Models;
@model List<ToDoTask>
<head>
    <link href="~/css/ToDoTaskIndexStyles.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/36af15ca2b.js" crossorigin="anonymous"></script>
</head>
<div><a style="color:#de6aa5;" asp-controller="Folder" asp-action="Index">< Folders</a></div>
<h1 class="indexPageTitle">
    Tasks
    <a style="color:inherit;" asp-area="" asp-controller="ToDoTask" asp-action="Add">
        <i class="fa-solid fa-circle-plus fa-2xs"></i>
    </a>
</h1>

@if (Model.Count <= 0)
{

    <span>Nothing here yet!</span>
}
else
{
    <div>
        <form method="post" asp-controller="ToDoTask" asp-action="Search">
            <input style="border-style:none; border-bottom: 1px solid black;" type="text" id="userInput" name="userInput" placeholder="Search for..." />
            <input type="submit" value="Search">
        </form>

    </div>
    <div>
        <div style="width:50%; float:left">
            <table style="width:75%; margin-top: 5%;">
                @foreach (ToDoTask todo in Model)
                {
                    <tr class="theTasks" data-row="row @todo.Id">
                        <td><input type="checkbox" class="roundCheckbox" data-row="row @todo.Id" asp-for="@todo.IsCompleted" checked="@todo.IsCompleted"/></td>
                        <td class="todoText @(@todo.IsCompleted ? "strikethrough" : "")" data-row="row @todo.Id"><p class="markedImportantSign">@(@todo.IsImportant == true ? "!" : "")</p></td>
                        <td class="todoText @(@todo.IsCompleted ? "strikethrough" : "")" data-row="row @todo.Id">
                            <p class="taskTitle">@todo.Title</p>
                            <p class="taskOrigin">@todo.CreatedOn</p>
                            </td>
                        <td><a style="color:inherit;"asp-controller="ToDoTask" asp-action="EditTask" asp-route-id="@todo.Id"><i class="fa-solid fa-pen-to-square"></i></a></td>
                        <td><a style="color:inherit;" asp-controller="ToDoTask" asp-action="DeleteTask" asp-route-id="@todo.Id"><i class="fa-solid fa-trash-can"></i></a></td>
                    </tr>
                }
            </table>
            <a style="color:red;" asp-controller="ToDoTask" asp-action="BulkDelete">Select To Delete</a>
        </div>

        <div style="width: 50%; float:right; margin-top: 3%;">
            @foreach(ToDoTask todo in Model)
            {
                <div class="taskDesc" style="display:none;" data-row="row @todo.Id">
                    <div class="taskDescTitle">@todo.Title <p class="taskDescTitleImportant">@(todo.IsImportant ? "Important" : "")</p></div>
                    <div class="taskDescBody">@todo.Body</div>
                </div>
            }
        </div>
    </div>
}
<script src="~/js/strikethroughTask.js"></script>
<script src="~/js/site.js"></script>

