@using To_Do.Models;
@model List<ToDoTask>


<h1>@ViewBag.title</h1>


@if (Model.Count <= 0)
{
    <span>Nothing here yet!</span>
}
else
{
    <table class="table">
        <tr>
            <th></th>
            <th>Title</th>
            <th>Body</th>
        </tr>
        @foreach (ToDoTask todo in Model)
        {
            <tr>
                <td><input type="checkbox" data-row="row @todo.Id"/>✓</td>
                <td class="todoText" data-row="row @todo.Id">@todo.Title</td>
                <td class="todoText" data-row="row @todo.Id">@todo.Body</td>
                <td><a asp-controller="Delete" asp-action="DeleteTask" asp-route-id="@todo.Id">Delete</a></td>
            </tr>
        }
    </table>
}
<script src="~/js/strikethroughTask.js"></script>

